<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <h1>${i18n("hello.world")}</h1>
    <p>${i18n("hello.world.json")}</p>
    <a href="/hello_world.json">Hello World Json</a>

    <script>
        var data = {
            "triples" : [
                {"subject": "1", "predicate": "2", "object": "1"}
            ],
            entity : "subject",
            size: 2
        }

        $.ajax({
          url: "/corrupted",
          data: data,
          success: function(data) {
            console.log(data)
          },
          dataType: "json"
        });
    </script>
</@layout.myLayout>
